{% extends 'base.html' %}
{% block content %}

<h1>Your Hikes Search</h1>
<form method=POST action="{% url 'hikes_search' %}">
    {% csrf_token %}
    <input type="search" placeholder="search hikes" aria-label="search" name="searched">
    <button type="submit" class="waves-effect waves-light btn-small">Search</button>
</form>
{% if searched %}
{% for hike in hikes %}
{% if forloop.first %}
<figure>
    <a href="{% url 'hikes_detail' hike.id %}"><img class="responsive-img card-panel" id='figureimg'
            alt="Picture of Hike" src="{{hike.photo_set.first.url}}">
        <figcaption><strong>{{hike.name}}</strong></figcaption>
    </a>
</figure>
{% endif %}
{% empty %}
<h2>Nothing Found</h2>
{% endfor %}
{% endif %}


{% endblock %}