{% extends 'base.html' %}
{% block content %}

<h1>Your Favorite Hikes</h1>

<div class=" index-main">
    <div class="index-hikes" id="easy">
        {% if profile.hikes %}
        {% for hike in profile.hikes.all %}
        {% if hike.photo_set.count %}
        <figure>
            <a href="{% url 'hikes_detail' hike.id %}"><img class="responsive-img card-panel" id='figureimg'
                    alt="Picture of Hike" src="{{hike.photo_set.first.url}}">
                <figcaption><strong>{{hike.name}}</strong></figcaption>
            </a>
        </figure>
        {% else %}
        <figure>
            <a href="{% url 'hikes_detail' hike.id %}"><img class="responsive-img card-panel" id='figureimg'
                    alt="Picture of Hike" src="../../static/assets/default-hike-photo.jpeg">
                <figcaption><strong>{{hike.name}}</strong></figcaption>
            </a>
        </figure>
        {% endif %}

        {% endfor %}
        {% endif %}
    </div>
</div>


<script>
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}