{% extends 'base.html' %}
{% block content %}

<div class="auth-background">
    <div class='auth'>
        <div class="auth-title">
            <img src="../static/assets/logo.png" alt="logo" class="auth-logo">
            <h1>SomeTrails</h1>
        </div>
        <div class="auth-about">
            <h3>Hi there!</h3>
            <h5>
                We love the outdoors. Hiking may be the best way to spend a day off. However, sometimes our
                day-getaways
                conflict with
                indecision: there are a lot of hikes to do. <br />We find ourselves opening our favorite hiking apps and
                are
                met with too many
                trails. </h5>
            <h5> Now with SomeTrails, instead of all of the trails, we present to you only some. Now get
                out
                there, you.
            </h5>
        </div>
        <a href="{% url 'signup'%}" class='auth-links'>Signup</a>
        <a href="{% url 'login'%}" class='auth-links'>Login</a>
        <a href="{% url 'index'%}" class='auth-links'>Continue as Guest</a>
    </div>
</div>

{% endblock %}