{% extends 'base.html' %}
{% block content %}


<div class="home-page">
    <h1 class="center" id="home-title">Welcome {{user}}</h1>
    <a href="{% url 'hikes_create' %}">create a hike</a>
    <div class="home-main">
        <div class="home-hikes" id="easy"></div>
        <div class="home-hikes" id="medium"></div>
        <div class="home-hikes" id="difficult">
            {% for test in hike %}
            <p>{{ test.name }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}