* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex: 1 0 auto;
    height: 100%;
    width: 100vw;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.auth-links {
    display: block;
    margin: 1em auto;
    font-size: 1.3em;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.index-hikes {
    border: 2px solid black;
    height: 80%;
    width: 100%;
    align-self: end;
}

.index-main {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    height: 80%;
}

.index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}


#index-title {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }